<div class="kui-flex-wrap">
  <ul class="kui-list kai-container">
    <li class="advncdRprtNav kui-divider" @click="setStart()">
      <div class="kui-row-center">
        <span>Start</span>
        <span style="color:#000;padding:5px;background-color:#fff;border-radius:2px;">{{ start }}</span>
      </div>
    </li>
    <li class="advncdRprtNav kui-divider" @click="setEnd()">
      <div class="kui-row-center">
        <span>End(Midnight)</span>
        <span style="color:#000;padding:5px;background-color:#fff;border-radius:2px;">{{ end }}</span>
      </div>
    </li>
  </ul>
</div>
