<div class="kui-flex-wrap">
  <style>
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      margin:0px;
      padding:0px;
      width: 220px;
      font-size: 14px;
    }
    @media only screen and (orientation : portrait) {
      .img-holder-hp {
        margin-left: -30px;
        height: 150px;
        width: 150px;
      }
    }
    @media screen and (orientation: landscape) {
      .img-holder-hp {
        margin-left: -30px;
        height: 70px;
        width: 70px;
      }
    }
  </style>
  {{#idle}}
  <div style="text-align:center;white-space:pre-wrap!important;word-break:break-word!important;">
    <img class="img-holder-hp" src="/icons/idle.png"/>
    <pre style="width:100%;">Click <b>START</b> to begin your journey</pre>
  </div>
  {{/idle}}
  {{^idle}}
  <div class="kai-container kai-padding-5">
    <pre style="font-size:12px;">ID</pre>
    <h5>{{ active_task.id }}</h5>
    <pre style="margin-top:5px;font-size:12px;">Type:</pre>
    <div style="display:flex;flex-direction:row;">
      <div style="margin:1px 3px 0 0;width:12px;height:12px;border-radius:50%;background-color:{{ active_task.category.color }};"></div>
      <h5>{{ active_task.category.name }}</h5>
    </div>
    <pre style="margin-top:5px;font-size:12px;">Description:</pre>
    <h5>{{ active_task.description }}</h5>
    <div style="margin-top:5px;display:flex;flex-direction:column;">
      <div style="display:flex;flex-direction:row;justify-content:space-between;">
        <pre style="font-size:12px;">Reminder:</pre>
        <pre style="font-size:12px;text-align:right;">Start:</pre>
      </div>
      <div style="display:flex;flex-direction:row;justify-content:space-between;">
        <h5>{{#reminder}}{{reminder_str}}{{/reminder}}{{^reminder}}NO{{/reminder}}</h5>
        <h5>{{ date }}</h5>
      </div>
    </div>
    <pre style="margin-top:5px;font-size:12px;">Started {{elapsed}}</pre>
  </div>
  {{/idle}}
</div>
